<input
  type="text"
  [(ngModel)]="rows"
  name="rows"
/>
<input
  type="text"
  [(ngModel)]="cols"
  name="cols"
/>

<input
  type="text"
  [(ngModel)]="rowHeight"
  name="cols"
/>


<app-grid #grid
          [rows]="rows"
          [cols]="cols"
          [rowHeight]="rowHeight"
></app-grid>

<button (click)="addRow()">Ajouter une ligne</button>

<div style="display: flex; ">

  <article appGridDraggable [rows]="1" [cols]="2" [grid]="grid.grid" style="width: 50px">
    1x2
  </article>

  <article appGridDraggable [rows]="2" [cols]="2" [grid]="grid.grid" style="width: 50px">
    2x2
  </article>

  <article appGridDraggable [rows]="3" [cols]="3" [grid]="grid.grid" style="width: 50px">
    3x3
  </article>

</div>
